<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="#">ECommerce Store</a>
      <div sec:authorize="not isAuthenticated()" class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav ">
          <li class="nav-item active">
            <a class="nav-link" href="#" th:href="@{/login}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" th:href="@{/signup}">Signup</a>
          </li>
        </ul>
      </div>

      <div sec:authorize="isAuthenticated()" class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav ">
          <li class="nav-item active">
            <a class="nav-link" href="#" th:href="@{/profile}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" th:href="@{/logout}">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </body>
</html>